<%= render "shared/breadcrumbs" %>

<%= banner_heading do %>
  <h3 class="text-xl text-center font-semibold">
    Preview Mode
  </h3>
  <div class="flex p-2 mt-2 space-x-4 justify-center">
    <%= link_to quiz_question_path(@quiz, prev_question_id(@question, @question_ids)), class: "flex btn-sm btn-primary items-center" do %>
      <%= render "icons/chevron_left", klass: "size-5" %> Prev Question
    <% end %>

    <span class="text-xl"><%= sprintf("%02d", question_number(@question, @question_ids)) %></span> 

    <%= link_to quiz_question_path(@quiz, next_question_id(@question, @question_ids)), class: "flex btn-sm btn-primary items-center" do %>
      Next Question <%= render "icons/chevron_right", klass: "size-5" %>
    <% end %>
  </div>
<% end %>

<section class="w-full max-w-xl mx-auto mt-10 border border-gray-500 rounded">
  <div class="flex p-2 justify-end border-b border-gray-500">
    <%= link_to edit_quiz_question_path(@quiz, @question), title: 'Edit Question', class: "flex btn-sm rounded items-center ml-auto hover:btn-primary transition ease-in-out duration-500" do %>
      <%= render "icons/pencil", klass: "size-5 mr-1" %> Edit
    <% end %>
  </div>

  <div class="px-3">
    <h2 class="text-lg text-center py-3 mb-3 border-b border-gray-500">
      <%= @question.content %>
    </h2>

    <ul class="flex flex-col">
      <%= render partial: "questions/choices/choice", collection: @question.choices, as: :choice %>
    </ul>
  </div>

</section>

