<%= render "shared/breadcrumbs" %>

<%= banner_heading do %>
  <h3 class="text-xl text-center font-semibold">
    <%= @quiz.title %> Quiz
    <br>
    Preview Mode
  </h3>
<% end %>

<section class="w-full max-w-xl mx-auto mt-10 border border-gray-500 rounded">
  <div class="flex h-auto justify-end border-b border-gray-500">
    <%= link_to edit_quiz_question_path(@quiz, @question), title: 'Edit Question', class: 'inline-block w-auto p-1 cursor-pointer' do %>
      <%= render "icons/pencil" %>
    <% end %>
  </div>

  <div class="px-3">
    <h2 class="text-lg text-center py-3 mb-3 border-b border-gray-500">
      <%= @question.content %>
    </h2>

    <ul class="flex flex-col">
      <%= render partial: "questions/choices/choice", collection: @question.choices, as: :choice %>
    </ul>
  </div>
</section>
