<%= turbo_frame_tag nested_dom_id(choice_form) do %>
  <div class="mt-2 mb-4" data-question-form-target="choice">
      <%= choice_form.label :content, "Option:", class: "text-white text-xs font-semibold uppercase mb-2" %>

    <div class="flex items-center">
      <%= choice_form.text_field :content, placeholder: "Example: New Option Text", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>

      <% if choice_form.object.persisted? %>
        <%= link_to question_choice_path(choice_form.object.question, choice_form.object),
          class: 'flex self-stretch items-center justify-center px-2',
          data: {
            turbo_method: :delete,
            turbo_confirm: t("buttons.choice.delete")
          } do %>
            <span><%= render "icons/x_circle" %></span>
        <% end %>
      <% else %>
        <button class="btn-sm"
                data-action="click->question-form#remove_choice:prevent"
                data-confirm-msg="<%= t('buttons.choice.delete') %>">
          <%= render "icons/x_circle" %>
        </button>
      <% end %>
    </div>

    <%= display_field_error(choice_form.object, :content) %>
  </div>
<% end %>
