<article data-decks--edit-card-target="card" data-action="click->decks--edit-card#dismissMenu" class="relative flex w-full max-w-72 min-h-[400px] rounded-lg text-lg text-gray-900">
  <% if selected == card %>
    <div class="absolute z-10 px-2 text-sm font-light top-1 left-6 bg-warning">In edit mode</div>
  <% end %>
  <nav data-decks--edit-card-target="menu" class="absolute hidden w-1/2 p-1 bg-blue-400 rounded-sm left-7 top-16" aria-label="Card menu">
    <ul class="flex flex-col">
      <li class="flex px-2 py-1 hover:bg-blue-500">
        <%= link_to edit_card_path(card), class: "flex grow transition duration-500" do %>
          <span class="flex w-6 text-left" aria-label="Edit card">
            <%= render_icon "pencil", klass: "size-5" %>
          </span>
          <span class="ml-1 text-sm grow">edit</span>
        <% end %>
      </li>
      <li class="flex px-2 py-1 hover:bg-blue-500">
        <%= button_to card_path(card), class: "flex grow", method: :delete, aria: { label: 'Delete card' } do %>
          <span class="flex w-6 text-left">
            <%= render_icon "x_circle", klass: "text-left size-5" %>
          </span>
          <span class="ml-1 text-sm grow">remove</span>
        <% end %>
      </li>
    </ul>
  </nav>
  <section data-decks--edit-card-target="front" class="flex flex-col w-full p-6 bg-blue-500 grow">
    <header class="flex items-center justify-end w-full">
      <button class="flex items-center p-1 mr-1 rounded" data-action="click->decks--edit-card#displayMenu:stop">
        <%= render_icon "three_dots_horizontal", klass: "size-5" %>
      </button>
      <span class="mr-auto text-sm font-semibold uppercase">Front</span>
      <button class="flex items-center px-3 py-1 text-sm uppercase bg-blue-400 rounded-md" data-action="click->decks--edit-card#flip:stop">
        flip <%= render_icon "arrow_turn_right", klass: "size-6 pl-2" %>
      </button>
    </header>
    <p class="flex items-center grow">
      <%= card.front %>
    </p>
  </section>
  <section data-decks--edit-card-target="back" class="flex flex-col hidden w-full p-6 bg-blue-600 grow">
    <header class="flex items-center justify-end w-full">
      <button class="flex items-center p-1 mr-1 rounded" data-action="click->decks--edit-card#displayMenu:stop">
        <%= render_icon "three_dots_horizontal", klass: "size-5" %>
      </button>
      <span class="mr-auto text-sm font-semibold uppercase">Back</span>
      <button class="flex items-center px-3 py-1 text-sm uppercase bg-blue-400 rounded-md" data-action="click->decks--edit-card#flip:stop">
        flip <%= render_icon "arrow_turn_right", klass: "size-6 pl-2" %>
      </button>
    </header>
    <p class="flex items-center text-md grow">
      <%= card.back %>
    </p>
  </section>
</article>