<%= render "shared/breadcrumbs" %>
<div class="w-full mx-auto mt-10">
  <%= link_to "Cancel & Return", author_deck_path(deck), class: "btn btn-rounded btn-warning uppercase ml-auto" %>
  <div class="w-full mx-auto mt-10 border border-gray-500 rounded">
    <section>
      <h2 class="py-2 text-xl text-center uppercase border-b border-gray-500 font-xl">
        <%= card.persisted? ? "Edit" : "Create" %> Card
      </h2>
      <%= form_with model: [deck, card], url:, class: 'p-4' do |f| %>
        <div class="flex flex-col sm:flex-row gap-4 mb-4">
          <div class="w-full sm:w-1/2">
            <%= f.label :front, class: "flex uppercase" do %>
              <span class="mr-2 text-md">Card Front</span> <%= display_field_error(card, :front, class: 'mt-0') %>
            <% end %>
            <%= f.text_area :front, cols: 40, rows: 15, autofocus: true, placeholder: "Enter the question or term...", class: "bg-gray-800 text-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>
          <div class="w-full sm:w-1/2">
            <%= f.label :back, class: "flex uppercase" do %>
              <span class="mr-2 text-md">Card Front</span> <%= display_field_error(card, :front, class: 'mt-0') %>
            <% end %>
            <%= f.text_area :back, cols: 40, rows: 15, placeholder: "Enter the answer or definition...", class: "bg-gray-800 text-white shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>
        </div>
        <div class="flex flex-col sm:flex-row gap-4 sm:gap-2">
          <%= f.submit "Save & Add Another", class: "w-full sm:w-auto btn btn-rounded btn-success uppercase" %>
          <%= f.submit "Save & Return", class: "w-full sm:w-auto btn btn-rounded btn-success uppercase" %>
        </div>
      <% end %>
    </section>
  </div>
  <div class="w-full mx-auto mt-10 border border-gray-500 rounded">
    <section>
      <h2 class="py-2 text-xl text-center uppercase border-b border-gray-500 font-xl">
        Flashcards
      </h2>
      <div data-controller="decks--card" class="flex flex-wrap justify-center md:justify-start gap-4 p-4">
        <% persisted_cards = deck.cards.select(&:persisted?) %>
        <% if persisted_cards.any? %>
          <%= render deck.cards.select(&:persisted?), deck: %>
        <% else %>
          <p class="w-full italic text-center text-gray-500">No cards available. Use form above to add cards to deck.</p>
        <% end %>
      </div>
    </section>
  </div>
</div>