<nav class="mb-4 text-lg uppercase border-b-2 border-gray-800">
  <ul class="flex space-x-3">
    <li data-navigation-target="link" class="aria-[current='active']:border-white flex border-b-2 border-transparent hover:border-white" aria-current="<%= active_tab?(active_tab, "graph") %>">
      <a class="px-1" href="">Graph</a>
    </li>
    <li data-navigation-target="link" class="aria-[current='active']:border-white flex border-b-2 border-transparent hover:border-white" aria-current="<%= active_tab?(active_tab, "correct") %>">
      <%= link_to "correct", user_deck_cards_path(deck_id: user_deck.deck_id, card_rating: :correct), class: "px-1", data: { turbo_frame: :user_deck_cards } %>
    </li>
    <li data-navigation-target="link" class="aria-[current='active']:border-white flex border-b-2 border-transparent hover:border-white" aria-current="<%= active_tab?(active_tab, "incorrect")%>">
      <%= link_to "incorrect", user_deck_cards_path(deck_id: user_deck.deck_id, card_rating: :incorrect), class: "px-1", data: { turbo_frame: :user_deck_cards } %>
    </li>
  </ul>
</nav>