<li data-questions--search-target="question" class="flex items-center p-2 transition-opacity duration-300 border border-white">
  <%= question.content %>
  <div class="inline-flex ml-auto text-xs border border-gray-400">
    <%= link_to edit_quiz_question_path(quiz, question), class: 'btn-warning px-2 py-2 text-black', title: "Edit", aria: { label: "Edit Question" } do %>
      <span aria-hidden="true">
        <%= render_icon "pencil", klass: "size-4" %>
      </span>
    <% end %>
    <%= link_to quiz_question_path(@quiz, question),
      title: "view",
      aria: { label: "View Question" },
      class: "bg-primary text-white px-2 py-2" do %>
      <%= render_icon "magnifying_glass", klass: "size-5" %>
    <% end %>
    <%= link_to quiz_question_path(quiz, question),
      data: {
        turbo_confirm: t("buttons.questions.delete"),
        turbo_method: :delete
      },
      title: "delete",
      aria: { label: "Delete Question" },
      class: 'bg-alert text-white px-2 py-2' do %>
      <%= render_icon "x_circle", klass: "size-5" %>
    <% end %>
  </div>
</li>