<section class="w-full max-w-xl mx-auto mt-10 border border-gray-500 rounded">
  <div class="px-3 pb-3">
    <h2 class="text-xl text-center py-3 mb-3 border-b border-gray-500">
      <%= @question.content %>
    </h2>

    <div class="flex flex-col">
      <%= form_for @answer_sheet_question do |f| %>
        <% radio_btn_index = 0 %>
        <%= f.collection_radio_buttons :answer_id, @choices, :id, :content do |builder| %>
          <div class="flex mb-4 peer-checked:bg-success hover:bg-primary border border-gray-500 transition ease-in-out duration-500">
            <%= builder.radio_button class: 'hidden peer' %>
            <%= builder.label class: "flex flex-1 p-2 peer-checked:bg-success cursor-pointer" do %>
              <span class="w-12 mr-1 font-bold text-center"><%= num_to_letter(radio_btn_index).upcase %>.</span>
              <p class="w-full"><%= builder.object.content %></p>
            <% end %>
          </div>
          <% radio_btn_index += 1 %>
        <% end %>
      <% end %>
    </div>

    <div class="flex space-x-6 pt-3 justify-center border-t border-gray-500">
      <%= link_to "Pause", '#', class: "block btn border border-gray-500" %>
      <%= link_to "Skip", '#', class: "block btn border border-gray-500" %>
      <%= link_to "Next >", '#', class: "block btn btn-success" %>
    </div>
  </div>
</section>
