<%# locals: (flash_type: "notice", use_time_out: true, time_out_delay: 3000) %>
<div
  class="absolute left-0 flex py-2 px-4 w-full mb-4 text-sm rounded top-0 <%= flash_class(flash_type) %>"
  data-turbo-cache="false"
  data-controller="flash"
  data-flash-use-time-out-value="<%= use_time_out %>"
  data-flash-time-out-delay-value="<%= time_out_delay %>"
  >
  <div class="flex flex-col justify-center">
    <%= yield %>
  </div>
  <button 
          type="button"
          class="flex ml-auto items-center justify-center rounded-full top-0 w-8 h-8 p-2 right-0 text-xl <%= flash_button_class("alert") %>"
          data-action="click->flash#onClick"
    >
    <span class="font-bold text-white">&times;</span>
  </button>
</div>