<nav class="bg-white border-b border-gray-700 dark:bg-gray-900" data-controller='navbar'>
  <div class="flex flex-wrap items-center justify-between max-w-screen-xl mx-auto">
    <a href="<%= root_path %>" class="flex items-center p-4 space-x-3 rtl:space-x-reverse">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Quiz<span>IT</span></span>
    </a>
    <button
      data-navbar-target='button'
      data-collapse-toggle="navbar-default"
      type="button"
      data-action='click->navbar#onClick'
      class="inline-flex items-center justify-center w-10 h-10 p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
      >
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default" data-navbar-target='linksContainer'>
      <ul class="flex flex-col mt-4 font-medium bg-gray-900 border border-gray-700 rounded-lg md:flex-row rtl:space-x-reverse md:mt-0 md:border-0">
        <li>
          <a href="<%= root_path %>" class="flex px-4 py-4 text-white hover:text-green-500" aria-current="page">Home</a>
        </li>
        <% if user_signed_in? %>
          <li class="relative group">
            <button class="flex items-center px-2 py-4">
              <span class="mr-1">Design</span>
              <%= render_icon "chevron_down", klass: "group-hover:hidden size-5" %>
              <%= render_icon "chevron_up", klass: "hidden group-hover:block size-5" %>
            </button>
            <ul class="hidden mx-4 border border-gray-700 md:ml-4 group-hover:block md:absolute md:bg-gray-900 md:p-3 md:z-50 md:rounded md:top-12">
              <li>
                <%= link_to author_decks_path, class: "flex items-center py-2 px-2 text-gray-900 rounded hover:bg-gray-800 md:border-0 dark:text-white hover:text-green-500" do %>
                  <%= render_icon "flash", klass: "size-5 mr-1" %> Flashcards
                <% end %>
              </li>
              <li>
                <%= link_to author_quizzes_path, class: "flex items-center py-2 px-2 text-gray-900 rounded hover:bg-gray-800 md:border-0 dark:text-white hover:text-green-500" do %>
                  <%= render_icon "clipboard_doc", klass: "size-5 mr-1" %> Quizzes
                <% end %>
              </li>
            </ul>
          </li>
          <li class="relative group">
            <button class="flex items-center px-2 py-4">
              <span class="mr-1">Study</span>
              <%= render_icon "chevron_down", klass: "group-hover:hidden size-5" %>
              <%= render_icon "chevron_up", klass: "hidden group-hover:block size-5" %>
            </button>
            <%# BEGIN Design sub-navigation %>
            <ul class="hidden mx-4 space-y-1 border border-gray-700 md:ml-4 group-hover:block md:absolute md:bg-gray-900 md:p-3 md:z-50 md:rounded md:top-12 min-w-44">
              <li>
                <%= link_to user_study_plans_path(user_id: current_user), class: "flex items-center py-2 px-2 text-gray-900 rounded hover:bg-gray-800 md:border-0 dark:text-white hover:text-green-500" do %>
                  <%= render_icon "book_open", klass: "size-5 mr-1" %> Study Plans
                <% end %>
              </li>
              <li>
                <%= link_to decks_path, class: "flex items-center py-2 px-2 text-gray-900 rounded hover:bg-gray-800 md:border-0 dark:text-white hover:text-green-500" do %>
                  <%= render_icon "flash", klass: "size-5 mr-1" %> Flashcards
                <% end %>
              </li>
              <li>
                <%= link_to quizzes_path, class: "flex items-center py-2 px-2 text-gray-900 rounded hover:bg-gray-800 md:border-0 dark:text-white hover:text-green-500" do %>
                  <%= render_icon "clipboard_doc", klass: "size-5 mr-1" %> Quizzes
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
        <li>
          <% if user_signed_in? %>
            <li class="flex items-center">
              <%= link_to dashboard_user_path( current_user ), class: "px-3 py-3" do %>
                <%= avatar(current_user) %>
              <% end %>
            </li>
            <%= link_to "Sign out",
                destroy_user_session_path,
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "block py-4 px-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" %>
          <% else %>
            <a
              href="<%= new_user_session_path %>"
              class="block px-2 py-4 text-white rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 hover:text-green-500"
            >
              Sign In
            </a>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
