
<div class="p-4">
  <h2>Hello, <%= "#{@user.email}" %></h2>

  <fieldset class="w-1/2 border border-emerald-500 p-2">
    <legend class="px-2">Update Profile</legend>

    <%= form_with model: @user, url: dashboard_user_path do |f| %>
      <div class="mt-2 mb-6 field">
        <%= f.label :username, class: "text-white text-xs font-semibold uppercase mb-2" %>
        <%= f.text_field :username, autofocus: true, placeholder: "JohnDoe123", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="flex items-center mb-4 actions">
        <%= f.submit class: "text-center w-full bg-green-700 hover:bg-green-600 text-white font-semibold uppercase py-2 px-4 rounded focus:outline-none focus:shadow-outline actions cursor-pointer" %>
      </div>
    <% end %>

  </fieldset>
</div>
