<%= turbo_frame_tag :review_card do %>
  <div data-user-decks--review-card-target="card" data-id="<%= card.id %>" class="relative flex w-72 min-h-[400px]">
    <% unless first_card(user_deck_card, user_deck_card_ids) %>
      <div data-user-decks--review-card-target="prevBtnContainer" class="hidden overflow-hidden absolute -left-12 top-[50%] -translate-y-[50%] text-gray-500 bg-gray-900 hover:text-white hover:bg-gray-800 cursor-pointer py-6 px-2 hover:py-8 rounded-tl-lg rounded-bl-lg transition-all duration-200 ease-in">
        <%= link_to user_deck_path(user_deck_card.user_deck_id, card_id: prev_card_id(user_deck_card, user_deck_card_ids)), class: "absolute inset-0" do %>
          <span class="sr-only">Previous Card</span>
        <% end %>
        <%= render "icons/chevron_left" %>
      </div>
    <% end %>
    <% if last_card(user_deck_card, user_deck_card_ids) %>
      <div data-user-decks--review-card-target="completeBtnContainer" class="hidden group overflow-hidden absolute -right-12 top-[50%] -translate-y-[50%]  bg-gray-900 hover:bg-emerald-600 cursor-pointer py-6 px-2 hover:py-8 rounded-tr-lg rounded-br-lg transition-all duration-200 ease-in">
        <%= link_to user_deck_path(user_deck_card.user_deck_id), class: "absolute inset-0", title: 'Complete review', data: { turbo_method: :patch, turbo_frame: "_top" } do %>
          <span class="sr-only">Complete Review</span>
        <% end %>
        <%= render "icons/checkmark", klass: "size-6 text-gray-500 group-hover:text-white transition-all duration-200 ease-in" %>
      </div>
    <% else %>
      <div data-user-decks--review-card-target="nextBtnContainer" class="hidden overflow-hidden absolute -right-12 top-[50%] -translate-y-[50%] text-gray-500 bg-gray-900 hover:text-white hover:bg-gray-800 cursor-pointer py-6 px-2 hover:py-8 rounded-tr-lg rounded-br-lg transition-all duration-200 ease-in">
        <%= link_to user_deck_path(user_deck_card.user_deck_id, card_id: next_card_id(user_deck_card, user_deck_card_ids)), class: "absolute inset-0" do %>
          <span class="sr-only">Next Card</span>
        <% end %>
        <%= render "icons/chevron_right" %>
      </div>
    <% end %>
    <article data-user-decks--review-card-target="front" class="flex flex-col w-full p-6 text-lg text-gray-900 bg-blue-500 rounded-lg">
      <header class="flex items-center justify-end w-full">
        <span class="mr-auto text-sm font-semibold uppercase">Front</span>
        <button class="flex items-center px-3 py-1 text-sm uppercase bg-blue-400 rounded-md" data-action="click->user-decks--review-card#flip:stop">
          flip <%= render "icons/arrow_turn_right", klass: "size-6 pl-2" %>
        </button>
      </header>
      <p class="flex items-center grow">
        <%= card.front %>
      </p>
    </article>
    <article data-user-decks--review-card-target="back" class="flex flex-col hidden w-full p-6 text-lg text-gray-900 bg-blue-600 rounded-lg">
      <header class="flex items-center justify-end w-full">
        <span class="mr-auto text-sm font-semibold uppercase">Back</span>
        <button class="flex items-center px-3 py-1 text-sm uppercase bg-blue-400 rounded-md" data-action="click->user-decks--review-card#flip:stop">
          flip <%= render "icons/arrow_turn_right", klass: "size-6 pl-2" %>
        </button>
      </header>
      <p class="flex items-center text-md grow">
        <%= card.back %>
      </p>
    </article>
  </div>
  <div data-user-decks--review-card-target="ratingPrompt" class="relative z-10 mt-2 text-center bg-gray-700 rounded-lg overflow-hidden -top-32">
    <header class="flex justify-center bg-gray-800 p-2">
      <h3 class="text-lg">How did you do?</h3>
    </header>
    <%= form_with model: user_deck_card do |f| %>
      <ul class="flex place-self-center justify-between py-2 w-36">
        <li>
          <%= f.button :card_rating,
            value: :incorrect, 
            class: "flex p-2 bg-alert drop-shadow-md rounded-full hover:scale-110 transition-scale" do %>
            <%= render "icons/thumbs_down", klass: "size-8" %>
          <% end %>
        </li>
        <li>
          <%= f.button :card_rating,
            value: :correct, 
            class: "flex p-2 bg-success drop-shadow-md rounded-full hover:scale-110 transition-scale" do %>
            <%= render "icons/thumbs_up", klass: "size-8" %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
