<li data-search-filter-target="item" class="flex items-center gap-3 p-2 border border-white">
  <%= card.front %>
  <div class="inline-flex ml-auto text-xs border border-gray-400">
    <%= link_to edit_card_path(card), class: 'btn-warning px-2 py-2 text-black', aria: { label: "Edit card" } do %>
      <span aria-hidden="true">
        <%= render_icon "pencil", klass: "size-4" %>
      </span>
    <% end %>
    <%= link_to card_path(card),
      data: {
        turbo_confirm: t("buttons.cards.delete"),
        turbo_method: :delete
      },
      aria: { label: "Delete card" },
      class: 'bg-alert text-white px-2 py-2' do %>
      <%= render_icon "x_circle", klass: "size-4" %>
    <% end %>
  </div>
</li>