<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Quiz It" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class='flex flex-col min-h-screen text-white bg-gray-950'>
    <header>
      <%= render 'shared/navbar' %>
    </header>
    <main class="relative flex-grow pt-8">
      <%= render "shared/flash" %>
      <div class="max-w-screen-xl px-4 py-6 mx-auto wrapper">
        <%= yield %>
      </div>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
